<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css" />
    </head>
    
    <body class="container_login">
        <div class="error-container">
            <div class="error-header">
                <img  class="logo-login"  src="../public/images/logo-no-background.png" alt="workos logo" />
            </div>
            <h2><%= error %></h2>
            <div>
                <a href="/" class="action-button">Back to home</a>
            </div>
        </div>
    </body>
</html>
